# Python artifacts
__pycache__/
*.pyc
*.log
.env
venv/
rp_pipeline.egg-info

# Ignore everything inside data/ and output/


# Keep the folders and subfolders, but not the files
!data/
!output/
!data/**/