# Python artifacts
__pycache__/
*.pyc
*.log
.env
venv/
rp_pipeline.egg-info/
*.egg-info/

# Ignore input and output data
data/**
output/**

# Keep folder structure
!data/
!output/

# Keep subfolders
!data/**/
!output/**/

# Keep placeholder files only
!data/.gitkeep
!output/.gitkeep